/** Mostly styled with bingosync but some fixes*/

.bingo-table {
    width: 100%;
    height: 100%;
    position: absolute;
}

#bingo-board-hide {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
}

.square {
    width: 100%;
    height: 100%;
    /*Remove padding cause the board is kinda small*/
    padding: 0;
}

.text-container {
    font-size: 90%;
    left: 0px;
    right: 0px;
}

.goal-count {
    font-size: 39px;
    text-align: center;
}