/* Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@font-face {
	font-family: 'Bebas Kai';
	src: url('../images/BebasKai-Regular.otf') format('opentype');
}

/* Some general settings used for everything and other minor changes to the body. */
body {
	font-family: 'Montserrat', sans-serif;
	color: white;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* Background image. */
#background {
	position: fixed;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
}

/* ESA logo along the top of the intermission layouts. */
#esaTopLogo {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 1920px;
	height: 104px;
	background-image: url('../images/esa-logo-long.png');
	background-repeat: no-repeat;
	background-size: contain;
}

/* All areas that store something. */
/* A slightly transparent black background with 3px blue outline. */
.storageBox {
	position: fixed;
	background-color: rgba(0,0,0,0.68);
	outline: 3px solid #39b0f6;
	overflow: hidden;
	box-sizing: border-box;
}

/* Makes the game/webcam box not have a background. */
.gameCapture, .webcam {background-color: rgba(0,0,0,0);}

/* Basic flex container class which auto centres it's contents. */
.flexContainer {
	display: flex;
	align-items: center; /* Aligns vertically centre. */
	justify-content: center; /* Aligns horizontally centre. */
}

.playerContainer {padding: 3px;}

/* Image classes for logo on the left of player name. */
.nameLogo {content: url('../images/player-logo.png');}
.twitchLogo {content: url('../images/twitch-logo.png');}

.playerLogo {padding-right: 17px;} /* Space between player logo on left and player name text. */

.playerText, .musicTickerText {
	/* In case the player name is really long, stop it from ruining the box and just hide the end. */
	overflow: hidden;
	white-space: nowrap;
	font-size: 28px;
	flex: auto;
}

.playerFlag {content: url('../images/flag.png');} /* Flag image is changed dynamically to something else. */
.playerCoOp {content: url('../images/team-icon.png');}
.mcat {content: url('../images/mcat.png');}

.playerFlag, .playerCoOp {padding-left: 3px;}

/* Turns logo/flag/co-op icon and finish time container off by default. */
/*.playerContainer div, .playerContainer img {opacity: 0;}*/ /* Using opacity for the fade in. */
/*.playerFlag, .playerCoOp {display: none;}*/

/* Makes these images fill up all the space they can. */
.playerLogo, .playerFlag, .playerCoOp, .mCat {height: 100%; box-sizing: border-box;}

#runInfoContainer {flex-direction: column; padding: 0 10px;}
#gameTitle {text-align: center;}

#timerContainer {justify-content: space-evenly; white-space: nowrap;}
#timer {font-size: 69px;}
#gameEstimate {font-size: 37px;}

#gameConsole, #gameEstimate, .gameConsole {color: #bfbfbf;}