/* Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
@font-face {
	font-family: 'Bebas Kai';
	src: url('../images/BebasKai-Regular.otf') format('opentype');
}

/* Some general settings used for everything and other minor changes to the body. */
body {
	font-family: 'Montserrat', sans-serif;
	color: white;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* Background image. */
#background {
	position: fixed;
	overflow: hidden;
	margin: 0;
	padding: 0;
	/*background-image: url('../images/background.png');*/
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
	background-color: #414141;
}

/* Big ESAW logo that appears on places like the intermission layouts. */
.esaBigLogo {
	position: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#esaBigLogo1 {
	background-image: url('../images/bingothon-main-logo.png');
}

#esaBigLogo2 {
	background-image: url('../images/bingothon-main-logo.png');
}

/* All areas that store something. */
/* A slightly transparent black background with 3px blue outline. */
.storageBox {
	position: fixed;
	background-color: rgba(0,0,0,0.68);
	outline: 3px solid #6e2c30;
	overflow: hidden;
	box-sizing: border-box;
}

/* Makes the game/webcam box not have a background. */
.gameCapture, .webcam {background-color: rgba(0,0,0,0);}

/* Basic flex container class which auto centres it's contents. */
.flexContainer {
	display: flex;
	align-items: center; /* Aligns vertically centre. */
	justify-content: center; /* Aligns horizontally centre. */
}

/* Image classes for logos. */
.nameLogo {content: url('../images/player-logo.png');}
.twitchLogo {content: url('../images/twitch-logo.png');}
/*.playerFlag {content: url('../images/flag.png');} /* Flag image is changed dynamically. */
.playerCoOp {content: url('../images/team-icon.png');}
.mcat {content: url('../images/mcat.png');}

.playerContainer {padding: 3px;}
.playerLogo {padding-right: 17px;} /* Space between player logo on left and player name text. */
.playerFlag, .playerCoOp {padding-left: 3px;}

/* Makes these images fill up all the space they can. */
.playerLogo, .playerFlag, .playerCoOp, .mCat {height: 100%; box-sizing: border-box;}

.playerText, #musicTickerText {
	/* In case the player name is really long, stop it from ruining the box and just hide the end. */
	overflow: hidden;
	white-space: nowrap;
	font-size: 28px;
	flex: auto;
}

/* Turns flag/co-op icon off by default and sets 0 opacity on load so things fade in correctly. */
.playerContainer div, .playerContainer img {opacity: 0;}
.playerFlag, .playerCoOp {display: none;}

#runInfoContainer {flex-direction: column; padding: 0 10px; text-align: center;}
#gameTitle {text-align: center;}
#gameConsole, #gameEstimate, .gameConsole {color: #bfbfbf;}
#gameConsole::before {content: "| ";} /* Adds a line before the console name. */

/* These elements need to be 0 opacity on load so they fade in correctly. */
#gameTitle, #gameCategory, #gameConsole, #timer, #gameEstimate {opacity: 0;}

/* Default timer stuff. */
/* space-evenly only supported on CEF 60+. */
#timerContainer {justify-content: space-evenly; /*justify-content: space-around;*/ white-space: nowrap;}
#timer {font-size: 65px;}
#gameEstimate {font-size: 37px;}
#gameEstimate::before {content: "EST: ";}

/* Different colours for each state the timer can be in. */
.timer_running {color: white}
.timer_paused, .timer_stopped {color: gray;}
.timer_finished {color: #39b0f6;}

/* Each character in the timer is in a span; setting width so the numbers appear monospaced. */
#timer span {
	display: inline-block;
	width: 0.65em;
	text-align: center;
}
#timer .char3, #timer .char6 {width: 0.3em;}

/* Small "same colour as borders" box that appears in the game feeds when players finish in a race. */
.finishTimeContainer {background-color: #39b0f6; z-index: 1;}
.finishTimeContainer img {content: url('../images/finish-flag.gif'); height: 100%; image-rendering: pixelated;}

.finishTimeContainer {opacity: 0;} /* Using opacity so the image is loaded in while invisible. */

/* Sponsor logo stuff. */
.sponsorLogo {
	padding: 35px 70px;
	box-sizing: border-box;
}

.sponsorLogoCurrent {
	position: absolute;
	opacity: 1;
}

/* Next starts invisible so it can be faded in. */
.sponsorLogoNext {
	position: absolute;
	opacity: 0;
}

/* Classes to resize the sponsor images correctly. */
.fillwidth {width: 100%; height: auto;}
.fillheight {height: 100%; width: auto;}

/* Twtich player fills the entire field where the game capture should have been*/
.twitch-player {
	width: 100%;
	height: 100%;
	position: absolute;
}

/* Add bingosync colors as css classes*/
.bingo-green {
    background-image: linear-gradient(#31D814, #00B500 60%, #20A00A);
}

.bingo-red {
    background-image: linear-gradient(#FF4944, #DA4440 60%, #CE302C);
}

.bingo-orange {
    background-image: linear-gradient(#FF9C12, #F98E1E 60%, #D0800F);
}

.bingo-blue {
    background-image: linear-gradient(#409CFF, #37A1DE 60%, #088CBD);
}

.bingo-purple {
    background-image: linear-gradient(#822dbf, #7120ab);
}

.bingo-pink {
    background-image: linear-gradient(#ed86aa, #cc6e8f);
}

.bingo-brown {
    background-image: linear-gradient(#ab5c23, #6d3811);
}

.bingo-teal {
    background-image: linear-gradient(#419695, #2e7372);
}

.bingo-navy {
    background-image: linear-gradient(#0d48b5, #022b75);
}

.bingo-yellow {
    background-image: linear-gradient(#d8d014, #c1ba0b);
}

/* give it a bit space*/
.bingo-color {
    width: 66px;
    height: 66px;
    margin-right: 17px;
}

.goal-count {
	/*stuff to center the text*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    float: left;
}

/*Medal styles*/
.medal {
	width: 26px;
	height: 26px;
	margin: 4px;
	background-repeat: no-repeat;
}
.medal.shine {
	animation: shine 334ms steps(20);
}
@keyframes shine {
	from { background-position-x: 0; }
	to { background-position-x: -520px; } /* <-- width of spritesheet */
}

.medal-bronze {
	background: url("../images/medal-bronze.png");
}

.medal-silver {
	background: url("../images/medal-silver.png");
}

.medal-gold {
	background: url("../images/medal-gold.png");
}