/* Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@font-face {
	font-family: 'Bebas Kai';
	src: url('../images/BebasKai-Regular.otf') format('opentype');
}

/* Some general settings used for everything and other minor changes to the body. */
body {
	font-family: 'Montserrat', sans-serif;
	color: white;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* NEEDS REMOVING FOR THE ACTUAL PRODUCTION. */
/* Background image. */
#background {
	position: fixed;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1920px;
	height: 1080px;
}

/* All areas that store something. */
/* A slightly transparent black background with 3px blue border. */
.storageBox {
	position: fixed;
	background-color: rgba(0,0,0,0.68);
	outline: 3px solid #39b0f6;
	overflow: hidden;
}

/* Basic flex container class which auto centres it's contents. */
.flexContainer {
	display: flex;
	align-items: center; /* Aligns vertically centre. */
	justify-content: center; /* Aligns horizontally centre. */
}

/* Makes the game/webcam box not have a background. */
.gameCapture, .webcam {background-color: rgba(0,0,0,0);}