#barWrapper {
	width: 1920px;
	height: 80px;
	justify-content: flex-start;
}

/* Overriding defaults we don't need from common.css */
.storageBox {
	background-color: rgba(0,0,0,0);
	outline: 0;
}

/* All the containers below use these things. */
.barContainers {
	position: fixed;
	height: inherit;
	top: 0;
}

/* Black glow on the text. */
.textGlow {
	text-shadow: 0 0 6px black, 0 0 10px black, 0 0 14px black;
}

/* ESA Logo */
#esaBarLogoContainer {
	z-index: 2;
	left: 0;
	width: 406px;
	background-image: url('../images/info-bar/logo-bg.png');
	padding-right: 25px; /* This is for the shadow part of the image. */
}
#esaBarLogoContainer #esaSmallLogo {position: absolute;}
#esaBarLogoContainer #esaHashtagLogo {position: absolute; opacity: 0;}

/* Donation Total */
#donationTotalContainer {
	font-size: 33px;
	z-index: 1;
	left: 406px;
	width: 286px;
	background-image: url('../images/info-bar/donation-total-bg.png');
	padding-right: 25px; /* This is for the shadow part of the image. */
}
#donationTotalContainer #stcIcon {position: absolute;}
#donationTotalContainer #stcText {position: absolute; opacity: 0;}
#donationTotalContainer #amountText {position: absolute; padding-left: 69px;}

/* General Messages */
#generalMessagesContainer {
	z-index: 0;
	left: 692px;
	width: 1104px;
	background-image: url('../images/info-bar/ticker-bg.png');
}

/* Clock */
#clockContainer {
	font-size: 33px;
	z-index: 1;
	left: 1771px;
	width: 124px;
	background-image: url('../images/info-bar/clock-bg.png');
	padding-left: 25px; /* This is for the shadow part of the image. */
}

#clockContainer span {
	width: 0.3em;
}