/* Big ESAW logo that appears in the top left. */

.thankYouAnimation{
	
	height: 100px;
	width: auto;
}

#loadGif {
    display: none;
    position: relative;
    left: 130px;
    top: 450px;
}

#donationTotalContainer {
    left: 0px;
    top: 421px;
    width: 417px;
    height: 404px;
    /*vertical-align:middle
    justify-content: flex-end;*/
    position: absolute;
    border: 3px black;
}

#donationTotalContainer #amountText {
}

#amountText{
}

#esaBigLogo2 {

    left: 0px;
    top: 0px;
    width: 420px;
    height: 420px;

}

/* Webcam(s). */

/* Music ticker stuff. */
#musicTicker {
    left: 0px;
    top: 828px;
    width: 417px;
    height: 251px;
}
.mcat {padding-right: 15px;}
#musicTickerText {font-size: 26px;}

/* Coming up runs stuff. */
.headerTextBox {
	outline: 0;
	background-color: #6e2c30;
	font-family: Bebas Kai;
	font-size: 50px;
}

#comingUpRunsHeaderText {
    left: 416.5px;
    top: 0px;
    width: 860px;
    height: 63px;
}

#hostingBingoHeaderText {
    left: 1276px;
    top: 0px;
    width: 644px;
    height: 63px;
    outline: 0;
	background-color: #c52c30;
	font-family: Bebas Kai;
	font-size: 50px;
	border-bottom
}

#hostingBingoHeaderTextSpan {
	
}

#hostingBingoPlaceholder{
	background-color: rgba(0,0,0,0.68);
	width: 644px;
	height: 592px;
	left: 1277px;
	top: 63px;
	border-bottom: 4px solid #6e2c30;
}

#comingUpRunsHeaderTextSpan {
	opacity: 0;
}

/* The box that the "coming up runs" boxes go into. */
element {

}
#comingUpRunsBox {
    position: fixed;
    left: 416.5px;
    top: 63px;
    width: 852px;
    height: 1080px;
    border-left: 4px solid #6e2c30;
    border-right: 4px solid #6e2c30;
}

#comingUpRunsBox > div {
	/* first invisible so it can be faded in/out*/
	opacity: 0;
	position: fixed;
}

/* The container each "coming up run" is in. */
.comingUpRunContainer {
	position: relative;
	flex-direction: column;
	width: 852px;
	height: 255px;
	
	/* Remove the normal outlines and just use a bottom border instead. */
	outline: 0;
	border-bottom: 3px solid #6e2c30;
}

/* Text and stuff settings inside of the container above. */
.gameWhen {
	font-size: 35px;
	font-family: Bebas Kai;
	color: #6e2c30;
	line-height: 45px;
}
.gameTitle {
    font-size: 31px;
    line-height: 40px;
    white-space: nowrap;
    flex-direction: column;
}
.gameCategory, .gameConsole, .gamePlayers {font-size: 21px; line-height: 37px;}
.gamePlayers span {padding: 0 5px;} /* This is the storage for the runner names. */
.gamePlayers img {height: 1.2em;} /* Images next to player name(s) are the same height. */
.playerCoOp {display: inline;} /* Override the default setting for not showing this. */
.playerLogo {padding: 0;} /* Override the default padding. */
.gameConsole::before {content: "| ";} /* Adds a line before the console name. */

/* Sponsor logos. */
#sponsorContainer {
    left: 0px;
    top: 890px;
    width: 417px;
    height: 189px;
}

/*#adTimer:before {content: 'Ad Playing:\00a0'}*/
#adTimer {
	opacity: 1;
	padding: 5px;
	width: 1600px;
}

.challengeGoal {
	font-size: 40px;
    padding-top: 25px;
}

.goalMet {
	
}

.pollOptions {
	font-size: 20px;
    padding-top: 25px;
	color: #bfbfbf;
}


.voiceContainer{
	background-image: url("../../images/middle-info-background.png");
	left: 1277px;
	top: 654px;
	width: 645px;
	height: 450px;
}
