/* Big ESAW logo that appears in the top left. */
#esaBigLogo2 {

    left: 0px;
    top: 0px;
    width: 420px;
    height: 420px;

}

/* Webcam(s). */
#webcam1 {
	left: 0px;
	top: 298px;
	width: 417px;
	height: 405px;
	align-items: flex-end; /* Aligns vertically bottom. */
	justify-content: flex-end; /* Aligns horizontally right. */
}

/* Music ticker stuff. */
#musicTicker {
	left: 0px;
	top: 706px;
	width: 417px;
	height: 59px;
}
.mcat {padding-right: 15px;}
#musicTickerText {font-size: 26px;}

/* Coming up runs stuff. */
.headerTextBox {
	outline: 0;
	background-color: #6e2c30;
	font-family: Bebas Kai;
	font-size: 50px;
}

#comingUpRunsHeaderText {
    left: 416.5px;
    top: 0px;
    width: 1090px;
    height: 63px;
}

#comingUpRunsHeaderTextSpan {
	opacity: 0;
}

/* The box that the "coming up runs" boxes go into. */
element {

}
#comingUpRunsBox {
    position: fixed;
    left: 416.5px;
    top: 63px;
    width: 833px;
    height: 940px;
    border-left: 3px solid #6e2c30;
}

#comingUpRunsBox > div {
	/* first invisible so it can be faded in/out*/
	opacity: 0;
	position: fixed;
}

/* The container each "coming up run" is in. */
.comingUpRunContainer {
	position: relative;
	flex-direction: column;
	width: 1087px;
	height: 235px;
	
	/* Remove the normal outlines and just use a bottom border instead. */
	outline: 0;
	border-bottom: 3px solid #6e2c30;
}

/* Text and stuff settings inside of the container above. */
.gameWhen {
	font-size: 35px;
	font-family: Bebas Kai;
	color: #6e2c30;
	line-height: 45px;
}
.gameTitle {font-size: 31px; line-height: 40px;}
.gameCategory, .gameConsole, .gamePlayers {font-size: 21px; line-height: 37px;}
.gamePlayers span {padding: 0 5px;} /* This is the storage for the runner names. */
.gamePlayers img {height: 1.2em;} /* Images next to player name(s) are the same height. */
.playerCoOp {display: inline;} /* Override the default setting for not showing this. */
.playerLogo {padding: 0;} /* Override the default padding. */
.gameConsole::before {content: "| ";} /* Adds a line before the console name. */

/* Sponsor logos. */
#sponsorContainer {
	left: 0px;
	top: 768px;
	width: 417px;
	height: 232px;
}

#adTimer:before {content: 'Ad Playing:\00a0'}
#adTimer {
	opacity: 0;
	padding: 5px;
	width: 160px;
}

.challengeGoal {
	font-size: 40px;
    padding-top: 25px;
}

.goalMet {
	
}

.pollOptions {
	font-size: 20px;
    padding-top: 25px;
	color: #bfbfbf;
}