/* Big ESAW logo that appears in the top left. */
#esaBigLogo2 {
	left: 30px;
	top: 15px;
	width: 779px;
	height: 269px;
}

/* Webcam(s). */
#webcam1 {
	left: 0px;
	top: 298px;
	width: 830px;
	height: 405px;
}

/* Music ticker stuff. */
#musicTicker {
	left: 0px;
	top: 706px;
	width: 830px;
	height: 59px;
}
.mcat {padding-right: 15px;}
.musicTickerText {font-size: 26px;}

/* Coming up runs stuff. */
.headerTextBox {
	outline: 0;
	background-color: #39b0f6;
	font-family: Bebas Kai;
	font-size: 50px;
}

#comingUpRunsHeaderText {
	left: 830px;
	top: 0px;
	width: 1090px;
	height: 63px;
}

/* The box that the "coming up runs" boxes go into. */
#comingUpRunsBox {
	position: fixed;
	left: 830px;
	top: 63px;
	width: 1090px;
	height: 940px;
}

/* The container each "coming up run" is in. */
.comingUpRunContainer {
	position: relative;
	flex-direction: column;
	width: 1090px;
	height: 235px;
	
	/* Remove the normal outlines and just use a bottom/left border instead. */
	outline: 0;
	border-bottom: 3px solid #39b0f6;
	border-left: 3px solid #39b0f6;
}

/* Text and stuff settings inside of the container above. */
.gameWhen {
	font-size: 35px;
	font-family: Bebas Kai;
	color: #39b0f6;
	line-height: 45px;
}
.gameTitle {font-size: 31px; line-height: 40px;}
.gameCategory, .gameConsole, .gamePlayers {font-size: 21px; line-height: 37px;}
.gamePlayers span {padding: 0 5px;} /* This is the storage for the runner names. */
.gamePlayers img {height: 1.2em;} /* Images next to player name(s) are the same height. */
.playerCoOp {display: inline;} /* Override the default setting for not showing this. */
.playerLogo {padding: 0;} /* Override the default padding. */
.gameConsole::before {content: "| ";} /* Adds a line before the console name. */

/* Sponsor logos. */
#sponsorContainer {
	left: 0px;
	top: 768px;
	width: 830px;
	height: 232px;
}