
.lowbar {
    width: 1920px;
    height: 80px;
    top: 925px;
    left: 0px;
    background-image: url("../../images/middle-info-background.png");
}

/* Game area(s). */

.gameCapture {
	width: 1500px;
	height: 843.75px;
}

#gameCapture1 {
	left: 420px;
	top: 78px;
	
	/* This positions the finish time in this game feed. */
	align-items: flex-start; /* Top of viewport. */
	justify-content: flex-start; /* Left of viewport. */
}

/* Finish timer stuff */
.finishTimeContainer img {padding-right: 5px;}
.finishTimeContainer {
	font-size: 25px;
	height: 30px;
}
#finishTimeContainer1 {
	padding: 0 3px 3px 0; /* No padding needed where this box touches the border. */
}

/* Player information stuff. */
.playerContainer {
	left: 1173px;
	width: 1498px;
	
}

#playerContainer1 {
	background-image: url("../../images/player-info-header-1-2p-bg.png");
	top: 0px;
	height: 75px;
	left: 422px;
    
}

/* Run information stuff. */
#runInfoContainer {
	background-image: url("../../images/middle-info-background.png");
	left: -3px;
	top: 79px;
	width: 420px;
	height: 240px;
}

#gameTitle {font-size: 31px;}
#gameCategory, #gameConsole {font-size: 21px;}

/*BingoBoard */
bingo-container {
    flex-direction: column;
    justify-content: center;
    left: 1px;
    top: 504px;
    width: 416px;
    height: 418px;
	--bingo-container-font-size: 20px;
}

/* Timer stuff. */
#timerContainer {
	background-image: url("../../images/middle-info-background.png");
	flex-direction: column;
	justify-content: center;
	left: -3px;
    top: 322px;
    width: 420px;
    height: 179px;
}


/* Sponsor logos. */
#sponsorContainer {
	left: 0px;
	top: 0px;
	width: 420px;
	height: 76px;
}

.sponsorLogo {
	padding: 10px 20px;
	width: auto;
	height: 100px;
}