/* Webcam(s). */
#webcam1 {
	left: 422px;
	top: 0px;
	width: 700px;
	height: 397px;
}

/* Game area(s). */
.gameCapture {
	left: 1125px;
	width: 795px;
}

#gameCapture1 {
	top: 502px;
	height: 447px;
	
	/* This positions the finish time in this game feed. */
	align-items: flex-start; /* Top of viewport. */
	justify-content: flex-start; /* Left of viewport. */
}

#gameCapture2 {
	top: 51px;
	height: 448px;
	
	/* This positions the finish time in this game feed. */
	align-items: flex-end; /* Bottom of viewport. */
	justify-content: flex-start; /* Left of viewport. */
}

/* Finish timer stuff */
.finishTimeContainer img {padding-right: 5px;}
.finishTimeContainer {
	font-size: 25px;
	height: 30px;
}
#finishTimeContainer1 {
	padding: 0 3px 3px 0; /* No padding needed where this box touches the border. */
}
#finishTimeContainer2 {
	padding: 3px 3px 0 0; /* No padding needed where this box touches the border. */
}

/* Player information stuff. */
.playerContainer {
	left: 1125px;
	width: 795px;
	height: 48px;
}

#playerContainer1 {
	top: 0px;
}

#playerContainer2 {
	top: 952px;
}

/* Run information stuff. */
#runInfoContainer {
	left: 0px;
	top: 0px;
	width: 419px;
	height: 253px;
}

#gameTitle {font-size: 31px;}
#gameCategory, #gameConsole {font-size: 21px;}

/* Timer stuff. */
#timerContainer {
	flex-direction: column;
	justify-content: center;
	left: 0px;
	top: 256px;
	width: 419px;
	height: 171px;
}

/* Sponsor logos. */
#sponsorContainer {
	left: 0px;
	top: 430px;
	width: 419px;
	height: 570px;
}

.sponsorLogo {
	padding: 70px 50px;
}