/* Webcam(s). */
#webcam1 {
	left: 0px;
	top: 0px;
	width: 478px;
	height: 451px;
}

/* Game area(s). */
.gameCapture {
	width: 1439px;
	height: 811px;
}

#gameCapture1 {
	left: 481px;
	top: 0px;
}

/* Player information stuff. */
.playerContainer {
	width: 478px;
	height: 60px;
}

#playerContainer1 {
	left: 0px;
	top: 454px;
}

/* Run information stuff. */
#runInfoContainer {
	left: 914px;
	top: 814px;
	width: 1006px;
	height: 186px;
}

#gameTitle {font-size: 35px;}
#gameCategory, #gameConsole {font-size: 25px;}

/* Timer stuff. */
#timerContainer {
	flex-direction: column;
	justify-content: center;
	left: 481px;
	top: 814px;
	width: 430px;
	height: 186px;
}

/* Sponsor logos. */
#sponsorContainer {
	left: 0px;
	top: 517px;
	width: 478px;
	height: 483px;
}