
/*.lowbar {
    width: 1920px;
    height: 80px;
    top: 925px;
    left: 0px;
    background-image: url("../../images/middle-info-background.png");
}*/

.sidebar-right-4-3 {
    width: 265px;
    height: 425px;
    top: 76px;
    left: 420px;
    background-image: url("../../images/middle-info-background.png");
}

/* Game area(s). */

.gameCapture {
	width: 1232px;
	height: 923.75px;
}

#gameCapture1 {
	left: 685px;
	top: 78px;
	
	/* This positions the finish time in this game feed. */
	align-items: flex-start; /* Top of viewport. */
	justify-content: flex-start; /* Left of viewport. */
}

/* Finish timer stuff */
.finishTimeContainer img {padding-right: 5px;}
.finishTimeContainer {
	font-size: 25px;
	height: 30px;
}
#finishTimeContainer1 {
	padding: 0 3px 3px 0; /* No padding needed where this box touches the border. */
}

/* Player information stuff. */
.playerContainer {
	left: 1438px;
	width: 1233px;
}

#playerContainer1 {
	background-image: url("../../images/player-info-header-1-2p-bg.png");
	top: 0px;
	height: 75px;
	left: 687px;
}

/* Run information stuff. */
#runInfoContainer {
	background-image: url("../../images/middle-info-background.png");
	left: 0px;
	top: 79px;
	width: 425px;
	height: 200px;
}

#gameTitle {font-size: 31px;}
#gameCategory, #gameConsole {font-size: 21px;}

/*BingoBoard */
#bingoContainer {
    flex-direction: column;
    justify-content: center;
    left: 0px;
    top: 504px;
    width: 685px;
    height: 500px;
}

/* Timer stuff. */
#timerContainer {
	background-image: url("../../images/middle-info-background.png");
	flex-direction: column;
	justify-content: center;
	left: 0px;
    top: 282px;
    width: 425px;
    height: 219px;
}


/* Sponsor logos. */
#sponsorContainer {
	left: 0px;
	top: 0px;
	width: 685px;
	height: 76px;
}

.sponsorLogo {
	padding: 10px 20px;
	width: auto;
	height: 100px;
}