/* Webcam(s). */
#webcam1 {
	left: 0px;
	top: 0px;
	width: 807px;
	height: 475px;
}

/* Game area(s). */
.gameCapture {
	width: 1110px;
	height: 1000px;
}

#gameCapture1 {
	left: 810px;
	top: 0px;
}

/* Player information stuff. */
.playerContainer {
	width: 807px;
	height: 60px;
}

#playerContainer1 {
	left: 0px;
	top: 478px;
}

/* Run information stuff. */
#runInfoContainer {
	left: 0px;
	top: 541px;
	width: 807px;
	height: 149px;
}

#gameTitle {font-size: 31px;}
#gameCategory, #gameConsole {font-size: 21px;}

/* Timer stuff. */
#timerContainer {
	left: 0px;
	top: 693px;
	width: 807px;
	height: 86px;
}

/* Sponsor logos. */
#sponsorContainer {
	left: 0px;
	top: 782px;
	width: 807px;
	height: 218px;
}