/* Webcam(s). */
#webcam1 {
	left: 0px;
	top: 0px;
	width: 612px;
	height: 451px;
}

/* Game area(s). */
.gameCapture {
	width: 1305px;
	height: 872px;
}

#gameCapture1 {
	left: 615px;
	top: 0px;
}

/* Player information stuff. */
.playerContainer {
	width: 612px;
	height: 60px;
}

#playerContainer1 {
	left: 0px;
	top: 454px;
}

/* Run information stuff. */
#runInfoContainer {
	left: 1024px;
	top: 875px;
	width: 896px;
	height: 125px;
}

#gameTitle {font-size: 31px;}
#gameCategory, #gameConsole {font-size: 21px;}

/* Timer stuff. */
#timerContainer {
	flex-direction: column;
	justify-content: center;
	left: 615px;
	top: 875px;
	width: 406px;
	height: 125px;
}

#timer {line-height: 57px;}
#gameEstimate {line-height: 37px;}

/* Sponsor logos. */
#sponsorContainer {
	left: 0px;
	top: 517px;
	width: 612px;
	height: 483px;
}

.sponsorLogo {
	padding: 70px 70px;
}